#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

gooroom_codename=kepco-2.0
jenkins_dir=build_keystore/$(gooroom_codename)/exe-protector
key_path=/var/lib/jenkins/$(jenkins_dir)
target_dir=/debian/gooroom-exe-protector

vendor_name_1=v3

%:
	dh $@

override_dh_auto_build:
	cd data && ./genkey_system.sh $(key_path) && cd -
	cd data && ./genkey.sh $(key_path) && cd -

    #- vendor (v3)
	#cd data && ./genkey_vendor.sh $(key_path) $(vendor_name_1) && cd -

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_install:
	if [ ! -e $(CURDIR)/data/privkey_ima.pem ]; then \
		cp $(key_path)/privkey_ima.pem $(CURDIR)/data; \
	fi

	if [ ! -e $(CURDIR)/data/x509_ima.der ]; then \
		cp $(key_path)/x509_ima.der $(CURDIR)/data; \
	fi

    #- vendor (v3)
	#if [ ! -e $(CURDIR)/data/x509_$(vendor_name_1)_ima.der ]; then \
	#	cp $(key_path)/x509_$(vendor_name_1)_ima.der $(CURDIR)/data; \
	#fi

	dh_install

override_dh_fixperms:
	dh_fixperms

	chmod 644 $(CURDIR)$(target_dir)/usr/share/gooroom/security/gooroom-exe-protector/ima_policy
	chmod 700 $(CURDIR)$(target_dir)/etc/initramfs-tools/hooks/ima.sh
	chmod 700 $(CURDIR)$(target_dir)/etc/initramfs-tools/scripts/local-top/ima.sh
	chmod 700 $(CURDIR)$(target_dir)/etc/initramfs-tools/scripts/local-bottom/ima.sh

override_dh_installdeb:
	dh_installdeb

	rm $(CURDIR)$(target_dir)/DEBIAN/conffiles
